<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <script src="/bower_components/platform/platform.js"></script>

        <link rel="import" href="/bower_components/polymer/polymer.html">

        <link rel="import" href="/bower_components/core-ajax/core-ajax.html">

        <link rel="import" href="/bower_components/core-icon/core-icon.html">
        <link rel="import" href="/bower_components/core-icons/core-icons.html">

        <link rel="import" href="/bower_components/core-icons/social-icons.html">

        <link rel="import" href="/bower_components/paper-button/paper-button.html">

        <link href="//fonts.googleapis.com/css?family=Varela+Round|Playball" rel="stylesheet" type="text/css">

        <style>
            body {
                background-color: #efefef;
                font-family: 'Varela Round', sans-serif;
            }

            .serviceName core-icon {
                fill: #7D25AC;
                stroke: #000;
                stroke-width: 0.2;
                height: 40px;
                width: 40px;
            }
            
            .serviceName {
                color: #7D25AC;
            }

            paper-button {
                color: #7D25AC;
            }
            
            paper-button.inverted {
                background: #7D25AC;
                color: #fff;
            }
            
            a {
                color: #7D25AC;
                text-decoration: none;
            }
            
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body fullbleed>
        <core-ajax auto
                   url="/api/listServices"
                   params=""
                   handleAs="json"
                   class="services">
        </core-ajax>
        
        <core-ajax auto
                   url="/user"
                   params=""
                   handleAs="json"
                   class="user">
        </core-ajax>

        <div style="width: 70%; height: 100%; margin-left: auto; margin-right: auto; background-color: white; padding-top: 10px;">
            <h1 style="text-align: center;">Link Accounts</h1>

            <h3 style="text-align: center;"><a href="/query_console">Query Console</a></h3>

            <div horizontal layout center center-justified wrap>
                <div vertical layout style="width: 80%;">
                
                    <template id="accounts" repeat="[[service in services]]">
                        <div style="margin: 10px;">
                            <div class="serviceName"><core-icon icon="[[service.icon]]"></core-icon> [[service.name]]</div>
                            <hr>
                            <div horizontal layout style="width: 100%;">
                                <template if="{{ user[service.id].token }}">
                                    <div flex>
                                        <template bind="{{ user[service.id] }}">
                                            ID - [[id]] <br>
                                            Token - [[token]] <br>
                                            TokenSecret - [[refreshTokenOrTokenSecret]]
                                        </template>
                                    </div>
                                    <div>
                                        <a href="/unlink/[[service.id]]"><paper-button class="inverted">Unlink</paper-button></a>
                                    </div>
                                </template>
                                <template if="{{ !user[service.id].token }}">
                                    <div flex>
                                        <a href="/connect/[[service.id]]">
                                            <paper-button class="inverted">Connect</paper-button>
                                        </a>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('polymer-ready', function() {
                var template = document.querySelector('#accounts');
                template.bindingDelegate = new PolymerExpressions();
                template.model = {};

                ['services', 'user'].map(function(data) {
                    document.querySelector('core-ajax.' + data).addEventListener("core-response",
                        function (e) {
                            template.model[data] = e.detail.response;
                            template.model = template.model; // workaround for now. TODO: figure out how to automate this.
                        }
                    );
                });
            });
        </script>
    </body>
</html>