<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script src="/bower_components/platform/platform.js"></script>

    <link rel="import" href="/bower_components/polymer/polymer.html">

    <link rel="import" href="/bower_components/core-ajax/core-ajax.html">

    <link rel="import" href="/bower_components/core-icon/core-icon.html">
    <link rel="import" href="/bower_components/core-icons/core-icons.html">

    <link rel="import" href="/bower_components/core-icons/social-icons.html">

    <link rel="import" href="/bower_components/paper-input/paper-input.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.html">

    <link href="//fonts.googleapis.com/css?family=Varela+Round|Playball" rel="stylesheet" type="text/css">

    <style>
        body {
            background-color: #efefef;
            font-family: 'Varela Round', sans-serif;
        }

        .serviceName core-icon {
            fill: #7D25AC;
            stroke: #000;
            stroke-width: 0.2;
            height: 40px;
            width: 40px;
        }

        .serviceName {
            color: #7D25AC;
        }

        paper-button {
            color: #7D25AC;
        }

        paper-button.inverted {
            background: #7D25AC;
            color: #fff;
        }

        a {
            color: #7D25AC;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body fullbleed>

<div style="width: 70%; height: 100%; margin-left: auto; margin-right: auto; background-color: white; padding-top: 10px;" vertical layout center>
    <span style="font-family: 'Playball', cursive; font-size: 72px; font-weight: bold; stroke-width: 0.2; text-align: center; width: 100%;">VelvetSpider</span>

    <div style="margin-left: auto; margin-right: auto; width: 100%;" vertical layout center flex>
        <div>
            <a href="/login"><paper-button class="inverted">Login</paper-button></a>
            <a href="/signup"><paper-button class="inverted">Signup</paper-button></a>
        </div>
    </div>
</div>
</body>
</html>
