<!DOCTYPE html>
<html>
    <head>
        <title>VelvetSpider</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
        <link rel="import" href="/bower_components/polymer/polymer.html">
        <link rel="import" href="/bower_components/app-router/app-router.html">
        <link rel="import" href="/bower_components/paper-button/paper-button.html">
        <link rel="import" href="/bower_components/leaflet-map/leaflet-map.html">
        <link rel="import" href="/elements/eresidae-layout-default.html">
        <link rel="import" href="/elements/eresidae-layout-toolbar.html">
        <link rel="import" href="/elements/eresidae-leaflet.html">
        <link rel="import" href="/elements/eresidae-mini-apps.html">
        <link rel="import" href="/elements/eresidae-profile.html">
        <link rel="import" href="/elements/eresidae-query-console.html">
        <link rel="import" href="/elements/eresidae-user-form.html">
        <link href="//fonts.googleapis.com/css?family=Varela+Round|Playball" rel="stylesheet" type="text/css">
        <link href="/stylesheets/light.css" rel="stylesheet" type="text/css" shim-shadowdom>
        <script src="/javascripts/core-style.js"></script>
    </head>
    <body unresolved fullbleed>
        <app-router >
            <app-route path="/" >
                <template>
                    <eresidae-layout-default>
                            <span class="logo" style="font-size: 72px;">VelvetSpider</span>
                            <div horizontal layout flex center>
                                <a is="pushstate-anchor" href="/login"><paper-button class="inverted" raised>Login</paper-button></a>
                                <a is="pushstate-anchor" href="/signup"><paper-button class="inverted" raised>Signup</paper-button></a>
                            </div>
                    </eresidae-layout-default>
                </template>
            </app-route>
            <app-route path="/login">
                <template>
                    <eresidae-user-form
                            banner="Login"
                            action="/login"
                            altMsg="Need an account?"
                            altHref="/signup"
                            altLink="Sign up">
                    </eresidae-user-form>
                </template>
            </app-route>
            <app-route path="/signup">
                <template>
                    <eresidae-user-form
                            banner="Signup"
                            action="/signup"
                            altMsg="Alredy have an account?"
                            altHref="/login"
                            altLink="Login">
                    </eresidae-user-form>
                </template>
            </app-route>
            <app-route path="/profile">
                <template>
                    <eresidae-layout-toolbar>
                        <eresidae-profile flex vertical layout></eresidae-profile>
                    </eresidae-layout-toolbar>
                </template>
            </app-route>
            <app-route path="/query_console">
                <template>
                    <eresidae-layout-toolbar>
                        <eresidae-query-console flex></eresidae-query-console>
                    </eresidae-layout-toolbar>
                </template>
            </app-route>
            <app-route path="/mini_apps">
                <template>
                    <eresidae-layout-toolbar>
                        <eresidae-mini-apps flex></eresidae-mini-apps>
                    </eresidae-layout-toolbar>
                </template>
            </app-route>
            
            <app-route path="/leaflet">
                <template>
                    <eresidae-layout-toolbar>
                        <eresidae-leaflet flex></eresidae-leaflet>
                    </eresidae-layout-toolbar>
                </template>
            </app-route>
            
        </app-router>
    </body>
</html>