<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <script src="/bower_components/platform/platform.js"></script>
        <script src="/javascripts/core-style.js"></script>
        
        <link rel="import" href="/elements/eresidae-user-form.html">

        <link href="//fonts.googleapis.com/css?family=Varela+Round|Playball" rel="stylesheet" type="text/css">
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    </head>
    <body unresolved fullbleed>
        <eresidae-user-form
                banner="Login"
                action="/login"
                message="<%= message.length ? message : '' %>"
                altMsg="Need an account?"
                altHref="/signup"
                altLink="Sign up">
        </eresidae-user-form>
    </body>
</html>