<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <script src="/bower_components/platform/platform.js"></script>

        <link rel="import" href="/bower_components/polymer/polymer.html">

        <link rel="import" href="/bower_components/core-ajax/core-ajax.html">

        <link rel="import" href="/bower_components/core-icon/core-icon.html">
        <link rel="import" href="/bower_components/core-icons/core-icons.html">

        <link rel="import" href="/bower_components/core-icons/social-icons.html">

        <link rel="import" href="/bower_components/paper-input/paper-input.html">
        <link rel="import" href="/bower_components/paper-button/paper-button.html">

        <link href="//fonts.googleapis.com/css?family=Varela+Round|Playball" rel="stylesheet" type="text/css">

        <style>
            body {
                background-color: #efefef;
                font-family: 'Varela Round', sans-serif;
            }

            .serviceName core-icon {
                fill: #7D25AC;
                stroke: #000;
                stroke-width: 0.2;
                height: 40px;
                width: 40px;
            }

            .serviceName {
                color: #7D25AC;
            }

            paper-button {
                color: #7D25AC;
            }

            paper-button.inverted {
                background: #7D25AC;
                color: #fff;
            }

            a {
                color: #7D25AC;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body fullbleed>

        <div style="width: 70%; height: 100%; margin-left: auto; margin-right: auto; background-color: white; padding-top: 10px;" vertical layout center>
            <h1 style="text-align: center;"><core-icon icon="input"></core-icon> Login</h1>

            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <div style="margin-left: auto; margin-right: auto; width: 100%;" vertical layout center flex>
                <template bind="{{}}">
                    <div vertical layout>
                        <div>
                            <paper-input label="Username" type="text" name="username" inputValue="{{ username }}">{{ username }}</paper-input>
                        </div>
                        <div>
                            <paper-input label="Password" type="password" name="password" inputValue="{{ password }}"></paper-input>
                        </div>
                        <div horizontal end-justified layout>
                            <paper-button id="submit" raised class="inverted">Login</paper-button>
                        </div>
                    </div>

                    <form id="signupform" action="/login" method="post" style="display: none;">
                        <input name="username" value="{{ username }}" type="text">
                        <input name="password" value="{{ password }}" type="password">
                    </form>

                    <script>
                        document.querySelector('#submit').addEventListener('click', function(e) {

                            console.log(e);
                            document.getElementById('signupform').submit();
                        });
                    </script>
                </template>
                <script>
                    document.addEventListener('polymer-ready', function() {
                        document.querySelector('template').model = {};
                        CoreStyle.g.paperInput.focusedColor = '#7D25AC';
                        CoreStyle.g.paperInput.invalidColor = '#AC2598';
                    });
                </script>
            </div>

            <div style="width: 90%">
                <hr>
            </div>
            <div end>
                <p>Need an account? <a href="/signup">Signup</a></p>
				<p>Or go <a href="/">home</a>.</p>
            </div>
        </div>
    </body>
</html>