<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script src="/bower_components/platform/platform.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">

    <link rel="import" href="/elements/eresidae-navbar.html">
    <link rel="import" href="/elements/eresidae-query-console.html">

    <link href="//fonts.googleapis.com/css?family=Varela+Round|Playball" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body unresolved fullbleed vertical layout>
    <eresidae-navbar></eresidae-navbar>
    <eresidae-query-console flex></eresidae-query-console>
</body>
</html>
