body {
    background-color: #efefef;
    font-family: 'Varela Round', sans-serif;
}

.serviceName core-icon {
    fill: #7D25AC;
    stroke: #000;
    stroke-width: 0.2;
    height: 40px;
    width: 40px;
}

.serviceName {
    color: #7D25AC;
}

paper-button {
    color: #7D25AC;
}

paper-button.inverted {
    background: #7D25AC;
    color: #fff;
}

a {
    color: #7D25AC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    font-family: 'Playball', cursive;
    
    font-weight: bold;
    stroke-width: 0.2;

    color: #7D25AC;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}